@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.serviceSlider .swiper-wrapper {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
}

/* select option start */

select {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-options {
  max-height: 200px;
  overflow-y: auto;
}

/* select option end */

/* custom scrollbar start */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

/* custom scrollbar end */
